<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3"></script>

<p id="summary"></p>

<canvas id="total_infections_germany"></canvas>

<canvas id="infection_rate_germany"></canvas>

<script type="text/javascript">
  var tig = document.getElementById('total_infections_germany').getContext('2d');
  var total_infections_chart = new Chart(tig, {
    type: 'line',
    data: {
      labels: dates,
      datasets: [{
        label: 'total infections',
        backgroundColor: 'rgb(00, 144, 255)',
        borderColor: 'rgb(00, 144, 255)',
        data: cases,
        fill: false
      }]
    },
    options: {}
  });
  var irg = document.getElementById('infection_rate_germany').getContext('2d');
  var infection_rate = new Chart(irg, {
    type: 'line',
    data: {
      labels: dates,
      datasets: [{
        label: 'rate of infection',
        backgroundColor: 'rgb(255, 100, 0)',
        borderColor: 'rgb(255, 100, 0)',
        data: rates,
        fill: false
      }]
    },
    options: {}
  });
  var summary = document.getElementById('summary');
  summary.innerHTML = "The following graphs show the total COVID-19 cases (" + cases[cases.length -1] + ") and the day to day rate of infection for germany."
</script>
