<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<canvas id="corona_germany"></canvas>

<script>
  var context = document.getElementById('corona_germany').getContext('2d');
  var coronachart = new Chart(context, {
    type: 'line',
    data: {
      labels: ['1', '2', '3'],
      datasets: [{
        label: 'corona confirmed',
        backgroundColor: 'rgb(00, 90, 255)',
        borderColor: 'rgb(00, 90, 255)',
        data: [1,2,3]
      }]
    },
    options: {}
  });
</script>
