{% if site.nav.size > 0 %}
    <div class="flex-row" style="justify-content: right; align-items: center; gap: 0 10px;">
    {% for item in site.nav %}
        {% if page.url == item.url %}
            {% assign navclass = "nav-item nav-item-active" %}
        {% else %}
            {% assign navclass = "nav-item" %}
        {% endif %}
        {% if item.name == "archive" %}
            {% if site.posts.size > site.index_post_capacity %}
                <div class="{{navclass}}">
                    <a href="{{ item.url }}">{{ item.name }}</a>
                </div>
            {% endif %}
        {% else %}
            <div class="{{navclass}}">
                <a href="{{ item.url }}">{{ item.name }}</a>
            </div>
        {% endif %}
    {% endfor %}

    </div>
{% endif %}