{% if site.nav.size > 0 %}
    <div class="flex-row" style="justify-content: right;">
    {% for item in site.nav %}
        {% if item.name == "archive" %}
            {% if site.posts.size > site.index_post_capacity %}
                <a href="{{ item.url }}" style="margin: auto 0px auto 15px;">{{ item.name }}</a>
            {% endif %}
        {% else %}
            <a href="{{ item.url }}" style="margin: auto 0px auto 15px;">{{ item.name }}</a>
        {% endif %}
    {% endfor %}  
    </div>
{% endif %}