#album-container {
    // placeholder
}

#album-main-image-container {
    transition: height 500ms ease-in, opacity 500ms ease-out;
    opacity: 1;
    width: auto;
    height: 0;
}

#album-main-image {
    // placeholder
}

#album-preview-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    margin: 5px 0 0 0;
    align-items: center;
    justify-content: space-between;
}

.album-preview-selected-image {
    height: 50px;
    @include border($wine-berry, solid, 2px, 5px);
    pointer-events: none;
}

.album-preview-image {
    height: 50px;
    padding: 2px;
    transition: opacity 500ms ease-out;
}

.album-preview-image:hover {
    cursor: pointer;
}

.album-preview-selected-image:hover, .album-preview-image:hover {
    transition: transform 1s linear;
    transform: scale(1.01, 1.01);
}

