// colornames by https://www.sunzhongwei.com/translate-color-code-to-name/en
$cape-palliser: #a37a43;
$sorrell-brown: #ccb88e;
$wild-sand: #f5f5f5;
$silver-chalice: #afafaf;
$chicago: #605c59;

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.shadow {
    box-shadow: 2px 2px 2px $silver-chalice;
}

#dice-sets-container {
    margin: 5px 5px 5px 5px;
    flex-wrap: wrap;
    align-items: center;
    color: $wild-sand;
    background-color: $chicago;
    border: 1px solid none;
    border-radius: 5px;
    gap: 5px;
}

#dice-types-container {
    min-height: 62px;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}

#bucket-container {
    min-height: 62px;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}

#table-container {
    min-height: 62px;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}

#create-dice-type-container {
    margin: 20px auto 20px auto;
    padding: 5px;
    max-width: 310px;
    gap: 5px;
    border: 1px solid $wild-sand;
    border-radius: 10px;
    transition: opacity 1s;
}

#sides-container {
    min-height: 62px;
    justify-content: flex-start;
    align-items: center;
}

#btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#dice-name-input {
    font: inherit;
    font-size: 16px;
}

#dice-sides-input {
    font: inherit;
    font-size: 16px;
}

.icon {
    margin: 5px 5px 5px 5px;
    height: 50px;
    width: 50px;
    background-color: $sorrell-brown;
    border: 1px solid none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px $sorrell-brown;
}

.icon.clickable:hover {
    background-color: $cape-palliser;
}

.clickable {
    cursor: pointer;
}

.dice-set {
    text-align: center;
    margin: 5px 5px 5px 5px;
    color: $sorrell-brown;
    text-decoration: underline solid 1px;
}

.dice-set.clickable:hover {
    color: $cape-palliser;
}

.selected-dice-set {
    color: $cape-palliser;
}

.dice {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px 5px 5px 5px;
    height: 50px;
    width: 50px;
    color: $chicago;
    background-color: $sorrell-brown;
    border: 1px dotted $chicago;
    border-radius: 10%;
    box-shadow: 5px 5px 0 $sorrell-brown;
}

.dice.clickable:hover {
    background-color: $cape-palliser;
}

.dice-type {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 5px 5px 5px;
    height: 50px;
    width: 50px;
    color: $chicago;
    background-color: $wild-sand;
    border: 1px dotted $chicago;
    border-radius: 10%;
    box-shadow: 5px 5px 0 $silver-chalice;
}

.dice-type.clickable:hover {
    background-color: $silver-chalice;
}

.dice.rolled {
    cursor: help;
}

.icosahedron-rotate {
    animation: rotate-left 15s linear infinite;
}

@keyframes rotate-left {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(-360deg)
    }
}

.not-selectable {
    user-select: none;
}