/* equalize attributes */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* theme colors */
$light_grey: #F2F2F2;
$medium_grey: #373737;
$dark_grey: #212121;
$white: #FFFFFF;
$black: #000000;

body {
  box-sizing: border-box;
  color: $medium_grey;
  background: $dark_grey;
  font-size: 16px;
  font-family: 'Myriad Pro', 'Calibri', Helvetica, monospace, sans-serif;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 84px;
  scrollbar-color: $white $black;
  scrollbar-width: thin;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 700;
  color: $black;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, monospace, sans-serif;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 19px;
}

h6 {
  font-size: 16px;
}

p {
  margin: 10px 0 15px 0;
}

a {
  text-decoration: underline dotted $black;
  color: $medium_grey;
}

a:hover, a:focus {
  text-decoration: underline $black;
}

footer a {
  text-decoration: underline dotted $white;
  color: $white;
}

footer a:hover, a:focus {
  text_decoration: underline $white;
}

cite {
  font-style: italic;
}

blockquote {
  margin-bottom: 20px;
  padding: 0 0 0 20px;
  border-left: 3px solid #bbb;
}

ul {
  list-style: square;
}

.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 1000px;
  padding: 20px 10px;
  margin: 0 auto;
}

#build_details {
  color: $white;
  float: right;
}

#home_link {
  float: left;
}

#header_wrap {
  background: $dark_grey;
}

#header_wrap .inner {
  padding: 15px 10px 15px 10px;
  line-height: 1.0;
}

#site_title {
  margin: 0;
  color: $medium_grey;
}

#page_title {
  margin: 0;
  color: $white;
}

#main_content_wrap {
  background: $light_grey;
}

#main_content {
  padding-top: 40px;
}

#footer_wrap {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 84px;
  background: $dark_grey;
}


/* small display adjustments */
@media screen and (max-width: 992px) {
  img {
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size:14px;
  }

  .inner {
    min-width: 320px;
    max-width: 480px;
  }

  #project_title {
    font-size: 32px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  code, pre {
    font-size: 11px;
  }

}

@media screen and (max-width: 320px) {
  body {
    font-size:14px;
  }

  .inner {
    min-width: 240px;
    max-width: 320px;
  }

  #project_title {
    font-size: 28px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 21px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

}
