@font-face {
  font-family: "Vollkorn";
  src: local("Vollkorn"),
    url("/assets/fonts/Vollkorn-Regular.eot"),
    url("/assets/fonts/Vollkorn-Regular.ttf"),
    url("/assets/fonts/Vollkorn-Regular.woff2")
  ;
}

/* equalize attributes */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
button, input {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

$sheet-opacity: 0.8;

::selection {
  background-color: #1efa46;
}

@mixin border($thickness, $style, $color, $radius) {
  border: $thickness $style $color;
  border-radius: $radius;
}

@mixin fg($name, $color) {
  .fg-#{$name} {
    color: $color;
  }
}

@mixin bg($name, $color) {
  .bg-#{$name} {
    background-color: $color;
  }
}

@mixin fs($name, $rem) {
  .fs-#{$name} {
    font-size: #{$rem}rem;
  }
}

@include fg("white", $white);
@include fg("blue", $blue);
@include fg("light-grey", $light-grey);
@include fg("medium-grey", $medium-grey);
@include fg("dark-grey", $dark-grey);
@include fg("black", $black);

@include bg("white", $white);
@include bg("blue", $blue);
@include bg("light-grey", $light-grey);
@include bg("medium-grey", $medium-grey);
@include bg("dark-grey", $dark-grey);
@include bg("black", $black);

@include fs("small", "0.95");

button {
  padding: 0 5px !important;
  border-radius: 5px;
}

button:hover {
  color: $white;
  background-color: $dark-grey;
  cursor: pointer;
}

button:hover:disabled {
  background-color: $medium-grey;
  cursor: default;
}

input {
  margin: 1px;
  @include border(1px, solid, $medium-grey, 5px);
}

input:hover, input:focus {
  margin: 0px;
  @include border(2px, solid, $dark-grey, 5px);
}

.clickable {
  cursor: pointer;
  pointer-events: all;
}

.unclickable {
  cursor: none;
  pointer-events: none;
}

.not-selectable {
  user-select: none;
}

.vam {
  vertical-align: middle;
}

hr {
  width: 100%;
  border-bottom: 1px dotted $dark-grey;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.word-wrap {
  word-wrap: break-word;      /* IE 5.5-7 */
  white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
  white-space: pre-wrap;      /* current browsers */
}

.spacer {
  height: 20px;
}

img {
  max-width: 100%;
}

.image-wrap {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

figcaption {
  font-size: 0.8rem;
  font-style: italic;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

table:not(.rouge-table) {
  table-layout: fixed;
  @include border(1px, solid, $medium-grey, 0);
  border-collapse: collapse;
  background-color: $white;
  width: 100%;
  th {
    @include border(1px, solid, $black, 0);
    color: $light-grey;
    background-color: $medium-grey;
    padding: 5px 10px;
    font-weight: bold;
  }
  td {
    @include border(1px, solid, $medium-grey, 0);
    padding: 5px 10px;
    text-align: center;
  }
  tr:nth-child(even) td{
    background-color: $light-grey;
  }
}

body {
  box-sizing: border-box;
  font-family: "Vollkorn";
  font-size: 1.0em;
  line-height: 1.61803;
  margin-bottom: 100px;
}

code {
  font-size: 1.0rem;
  font: inherit;
  .language-plaintext {
    @include border(1px, solid, $light-grey, 5px);
    padding: 0 2px 0 2px;
    color: $medium-grey;
    background-color: $light-grey;
    font-style: italic;
  }
}

.tag {
  @include border(1px, solid, $light-grey, 0);
  border-radius: 5px;
  padding: 0 2px 0 2px;
}

h1, h2, h3, h4, h5, h6 {
  color: $dark-grey;
  margin: 20px 0 0 0;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1.0rem;
}

p {
  margin: 20px 0 5px 0;
}

footer a {
  text-decoration: underline $light-grey;
  color: $light-grey;
}

a.footnote {
  vertical-align: baseline;
}

cite {
  font-style: italic;
}

blockquote {
  padding: 0 0 0 20px;
  margin: 0 0 20px 0;
  border-left: 5px solid $dark-grey;
  border-right: 1px solid $light-grey;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: $medium-grey;
  background-color: $light-grey;
  font-size: 1.2rem;
  font-style: italic;
}

ul.index-menu {
  list-style: square;
}

ul.index-menu li {
  margin: 10px 0 10px 0;
}

.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

table:not(.rouge-table) {
  border: 1px solid $dark-grey;
  border-spacing: 0;
  margin: 0 auto;
}

th {
  font-weight: bold;
  padding: 0 2px 0 2px;
}

td {
  padding: 0 2px 0 2px;
  margin: 0;
}

.highlight:not {
  td, th {
    border: 1px solid $dark-grey;
  }
}

#header {
  height: 64px;
}

#header-wrap {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  opacity: $sheet-opacity;
  box-shadow: 0 2px 2px $dark-grey;
}

#main-content-wrap {
  position: relative;
  top: 40px;
  padding: 20px 0 20px 0;
  z-index: 1;
}

#main-content {
  height: 100%;
}

#footer {
  height: 64px;
}

#footer-wrap {
  position: fixed;
  bottom: 0;
  z-index: 2;
  opacity: $sheet-opacity;
  box-shadow: 0 -2px 2px $dark-grey;
}

.post-info {
  margin: 15px 0 15px 0;
  padding: 5px;
}

/* adjustments for small displays */
@media screen and (max-width: 1024px) {
  body {
    font-size: 1.2em;
  }
  img {
    max-width: 100%;
  }
}

/* adjustments for very small displays */
@media screen and (max-width: 640px) {
  body {
    font-size: 1.4em;
  }

  .inner {
    min-width: 560px;
    max-width: 640px;
  }
}

/* adjustments for tiny displays */
@media screen and (max-width: 320px) {
  body {
    font-size: 1.6em;
  }

  .inner {
    min-width: 240px;
    max-width: 320px;
  }
}

@keyframes rotate-left {
  from {
      transform: rotate(0deg)
  }
  to {
      transform: rotate(-360deg)
  }
}

/* highcharts styled mode font */
.highcharts-root {
  font-family: "monospace";
}

.highlight {
  border-radius: 2px;
  font-family: "monospace";
}

code.language-plaintext.highlighter-rouge {
  padding: 0 5px 0 5px;
  color: $medium-grey;
  background-color: $light-grey;
  border-radius: 2px;
}