/* theme colors */
$light-grey: #F2F2F2;
$medium-grey: #383838;
$dark-grey: #212121;
$black: #000;
$white: #FFF;
$blue: #2828F0;

/* unused */
$wine-berry: #581845;
$orange: #ff9f00;
$cornsilk: rgb(255, 243, 222);
$lavender: rgb(195, 188, 207);

/* dice */
// colornames by https://www.sunzhongwei.com/translate-color-code-to-name/en
$cape-palliser: #a37a43;
$sorrell-brown: #ccb88e;
$wild-sand: #f5f5f5;
$silver-chalice: #afafaf;
$chicago: #605c59;

/* space */
// colornames by https://www.sunzhongwei.com/translate-color-code-to-name/en
$big-stone: #132832;
$loblolly: #B6C2CB;
$gumbo: #7D98A5;
$gothic: #718B9C;

/* uncomment to overwrite theme colors */
/*
$light-grey: $loblolly;
$medium-grey: $gumbo;
$dark-grey: $gothic;
$blue: $big-stone;
*/