/* theme colors */
$light_grey: #F2F2F2;
$medium_grey: #383838;
$dark_grey: #212121;
$black: #000;
$white: #FFF;
$blue: #2828F0;

@mixin txt-shadow($color: $light_grey) {
  text-shadow: $color 1px 1px 0px;
}
