<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <script type="text/javascript" src="/assets/js/main.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/highcharts/highcharts.js"></script>
    <script type="text/javascript" src="/assets/js/highcharts/highcharts-more.js"></script>
    <script type="text/javascript" src="/assets/js/highcharts/grid.js"></script>
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
    <script>
      var init_array = new Array();
      $(document).ready(function(){
        var footer_height = $("#footer_wrap").height();
        var header_height = $("#header_wrap").height();
        var window_height = $(window).height();
        $('#main_content_wrap').css('min-height', window_height - header_height - footer_height + 'px');

        for (item in init_array) {
            init_array[item]();
        }
      });
    </script>
  </head>
  <body>
    <!-- header start -->
    <div id="header_wrap" class="outer">
      <header class="inner">
        <h1 id="page_title">{{ page.title }}:</h1>
      </header>
    </div>
    <div id="header_background"></div>
    <!-- header end -->

    <!-- content start -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>
    <!-- content end -->

    <!-- footer start -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        {% if page.url != "/" %}
        <a id="home_link" href="{{ site.url }}">back home</a>
        {% endif %}
        <div id="site_details"><s>tracking & cookies</s> | last update {{ site.time | date_to_long_string }}</div>
      </footer>
    </div>
    <div id="footer_background"></div>
    <!-- footer end -->
  </body>
</html>
