<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% if page.url != "/" %}
      {% assign title = page.title %}
    {% else %}
      {% assign title = "ZackDev" %}
    {% endif %}
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <script type="text/javascript" src="/assets/js/main.js"></script>
    <script type="text/javascript" src="/assets/js/highcharts.min.js"></script>
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
  </head>
  <body class="fg-medium-grey bg-white">
    <!-- header start -->
    <div id="header-wrap" class="outer bg-dark-grey">
      <header id="header" class="inner flex-row">
        <div id="page-title" class="fg-light-grey">{{ page.title }}</div>
      </header>
    </div>
    <!-- header end -->

    <!-- content start -->
    <div id="main-content-wrap" class="outer">
      <section id="main-content" class="inner">
        {{ content }}
      </section>
    </div>
    <!-- content end -->

    <!-- footer start -->
    <div id="footer-wrap" class="outer bg-dark-grey">
      <footer id="footer" class="inner flex-row">
        {% if page.url != "/" %}
        <a href="{{ site.url }}">back home</a>
        {% else %}
        <div></div>
        {% endif %}
        <div class="fg-light-grey"><s>tracking & cookies</s>&nbsp;<img src="/assets/icons/logo.png" style="vertical-align: middle; height: 32px;"/></div>
      </footer>
    </div>
    <!-- footer end -->
  </body>
</html>
