<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% if page.url != "/" %}
      {% assign title = page.title %}
    {% else %}
      {% assign title = "zackdev.github.io" %}
    {% endif %}
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <script type="module" src="/assets/js/main.mjs"></script>
    <script type="text/javascript" src="/assets/js/highcharts.min.js"></script>
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body class="fg-medium-grey bg-white">
    <!-- header start -->
    <div id="header-wrap" class="outer bg-dark-grey">
      <header id="header" class="inner flex-row" style="justify-content: right">
        {% for item in site.nav %}
          {% if item.name == "archive" %}
            {% if site.posts.size > site.index_post_capacity %}
            <a href="{{ item.url }}" style="margin: auto 0px auto 15px;">{{ item.name }}</a>
            {% endif %}
          {% else %}
          <a href="{{ item.url }}" style="margin: auto 0px auto 15px;">{{ item.name }}</a>
          {% endif %}
        {% endfor %}
      </header>
    </div>
    <!-- header end -->

    <!-- content start -->
    <div id="main-content-wrap" class="outer">
      <section id="main-content" class="inner">
        {% if page.title %}
        <h1>{{ page.title }}</h1>
        {% endif %}
        {{ page.date | date_to_long_string }}
        {{ content }}
        {% include tags.html post=page %}
      </section>
    </div>
    <!-- content end -->

    <!-- footer start -->
    <div id="footer-wrap" class="outer bg-dark-grey">
      <footer id="footer"></footer>
    </div>
    <!-- footer end -->
  </body>
</html>
